<h2>Create Lobby </h2>
</br>
<div class="customBox">
	stuff
</div>
<form method="post" action = "/createLobby">
	<button type="submit" class="btn btn-primary" id="NewLobbyButton">Create lobby</button>
</form>
