<div id="gameHeader">
  <h2 id="lobbyname_text">The Flying Dragon</h2>
  <p id="maxplayers_text">max</p>
</div>

<br/>
<br/>

<div id="canvas">
  <canvas id="game" width="900" height="500" style="border:1px solid #000000;"></canvas>
</div>

<br/>
<button type="button" id = "HowToPlay">How to play</button>

<script src="/script/gameCore.js"></script>
<script src="/script/gameClient.js"></script>
