<h2>How To Play</h3>
<h3>Rules of Tetris</h3>
<p>Use <span class = "glyphicon glyphicon-arrow-left"></span>,
  <span class = "glyphicon glyphicon-arrow-down"></span> and
  <span class = "glyphicon glyphicon-arrow-right"></span> to move the tetromino.</p>
<p>Press <span class = "glyphicon glyphicon-arrow-up"></span> to rotate the tetromino.</p>
<p>Press SPACE to instantly push the tetromino to the bottom.</p>
<p>If you complete a row then that row disapears.</p>
<p>It is Game Over when a block reaches the top. </p>

<h3>Rules of Tetris Wars</h3>
<p>You are rewarded with an attack or buff if you complete several rows at once.
The strength of the attack or buff deppens on the amount of rows completed at the same time.</p>

<p>One of the following attacks or buffs are given at each amount:</p>
<p>Two rows: Confuse</p>
<p>Three rows: Darkness, Shrink or Add Row</p>
<p>Four rows: Overpower, Switch it up</p>
<p>Five+ rows: Attack 10</p>

<h3>Attacks and Buffs</h3>
<h4>Haste</h4>
<p>(Attack) Speeds up the other players for 5 seconds</p>

<h4>Slowmo</h4>
<p>(Buff) Slows the player for 5 seconds</p>

<h4>Add Row</h4>
<p>(Attack) Adds a row at the bottom</p>

<h4>Stretch</h4>
<p>(Attack) Stretch the other players tetromino</p>

<h4>Shrink</h4>
<p>(Buff) Shrink your tetromino to a one block tetromino</p>

<h4>Darkness</h4>
<p>(Attack) Make the board pitch black for the other players for 5 seconds</p>

<h4>Switch it up</h4>
<p>(Attack/Buff) Switch board with best player</p>

<h4>Confuse</h4>
<p>(Attack) Change the controls for the other players</p>

<h4>The Bomb</h4>
<p>(Buff) Changes the current tetromino into a bomb that explodes on impact in a 3-block radies</p>

<h4>Overpower</h4>
<p>(Buff) Resets the board</p>
