<table class="table" id = "tableId2">
  <thead>
    <tr>
      <th class="table_header">Rank</th>
      <th class="table_header">User</th>
      <th class="table_header">Score</th>
    </tr>
  </thead>

  <tbody id = 'tableBody2'>
  </tbody>

</table>

<script>
var userNames = "{{ usernames }}";
var scorE = "{{ score }}";
</script>

<script src = "/script/topList.js"></script>
