#maxusers{
  width: 100%;
  height: 40px;
}

.maxusers_option{
  float:left;
  width: 18%;
  height: 100%;
}

.margin_right{
  margin-right: 2.5%;
}

input[type='radio'] {
  width:40%;
  height: 40%;
  vertical-align: middle;
}
