#maxplayers{
	float:right;
	padding-top: 27px;
}

#canvas_div{
	width: 100%;;
	align: center;
	text-align: center;
	padding-top: 42px;
	padding-bottom: 10px;
}

#game{
	background:url('../images/tetris_bg.jpg');
	width: 100%;
	height: 500px;
  background-size: 100% 100%;
	display:block;
	border:1px solid #000000;
}

#gameHeader{
	height: 40px;
}

#lobbyname_text{
	padding: 0px;
	margin: 0px;
	width:80%;
	height: 100%;
	float:left;
}

#maxplayers_text{
	margin: 0px;
	float: right;
	height: 100%;
	width:15%;
	text-align: right;
	font-size: 120%;
	padding: 0px;
	padding-top:7px;
}
