#maxplayers{
	float:right;
	padding-top: 27px;
}

#canvas{
	width: 200 px;
	align: center;
	text-align: center;
	padding-top: 42px;
	padding-bottom: 10px;
}

#game{
	background:url('../images/tetris_bg.jpg'); 
  background-size: 100% 100%;
}

#between{
	width: 280px;
	float: left;
	text-align: center;
}
#player2{
	width: 200 px;
	float: right;
	text-align: center;
}

#playOriginal{
	width: 200 px;
	float: left;
	text-align: center;
	padding: 0px 0px 10px 0px;
}

#gameHeader{
	margin-right: 10px;
}

#lobbyname{
	float:left;
}
