ul#allLobbysList{
	list-style-type: none;
	padding: 0px;
	height: auto;
}

.navbar-default .navbar-brand {
  color: white;
}

#joinLobby{
	width: 200 px;
	float: right;
	text-align: center;
}

#createLobby{
	clear:both;
	text-align: left;
	margin-top: 15px;
}

tr:nth-child(even){background-color: rgba(0, 0, 0, 0.05)}

#table_header{
	border-bottom: 3px solid black;
}

table{
	padding: 20px 20px 0px 20px;
}

#popup{
	width: 350px;
	height: 250px;
	background: rgba(0, 0, 0, 0.74);
	color: whitesmoke;
  border-color: silver;
  border-style: solid;
  border-width: 2px;
	position: fixed;
	top: 250px;
	text-align: center;
	left: 40%;
	padding: 2%;
	display: none;
}

#popupText{
	color: #df310b;
}

.popup-form{
	width: 92%;
}

#close{
	float:right;
}
