ul#allLobbysList{
	list-style-type: none;
}

.navbar-default .navbar-brand {
  color: white;
}

#joinLobby{
	width: 200 px;
	float: right;
	text-align: center;
}

#createLobby{
	clear:both;
	text-align: left;
	margin-top: 15px; 
}