* {
	margin: 0px;
	padding: 0px;
	font-family: AR CENA;
}

body{
	background-color: #f1f1f3;
	font-family: Helvetica, Arial, sans-serif;
	background-image: url(../images/background_fade.png);
	background-repeat: no-repeat;
	background-size: 1500px 600px;
  background-position: center top;
	color: black;
}

h1{
	margin: 0;
	font-family: AR Julian;
}

h2{
	font-family: AR Julian;
}

th{
	font-size: 110%;
}

#container{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	margin-top: 130px;
	margin-bottom: 20px;
}

#header {
	background-color: Crimson;
	color: white;
	text-align: center;
	padding: 10px;
}

#menu{
	background-color: white;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.customBox{
	background-color: whitesmoke;
	margin-bottom: 10px;
  box-shadow: 5px 5px 5px #999999;
}

#container2{
	display: table;
	margin: 0 auto;
}

#container2 a{
	margin: 0 2px;
}

button{
	background-color: crimson;
	color: white;
	box-shadow: 2px 2px 5px #888888;
	border-radius: 6px;
	padding: 7px 17px;
}

button:hover{
  background-color: LightGreen;
}

footer{
	clear: both;
	padding-left:10px;
	background-color: #333;
	color: white;
	margin-top: 40px;
}
