*{
	margin: 0px;
	padding: 0px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	box-sizing: inherit;
}

html{
  min-height: 100%;
	position: relative;
  margin:0;
  padding:0;
}

body{
	background-color: #f1f1f3;
	background-image: url(../images/background_fade.png);
	background-repeat: no-repeat;
	background-size: 1500px 600px;
  background-position: center top;
	color: black;
  margin:0;
  padding:0;
}

.footer{
  position: absolute;
	height: 30px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #333;
	color: white;
  text-align: center;
	padding-top: 7px;
}

#footer_text{
	padding:0px;
	margin:0px;
}

#container{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	margin-top: 130px;
  margin-bottom:45px;/* Height of footer*/
}

h1{
	margin: 0;

}

h2{

}

th{
	font-size: 110%;
}

#header {
	background-color: Crimson;
	color: white;
	text-align: center;
	padding: 10px;
}

#menu{
	background-color: white;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.customBox{
	background-color: whitesmoke;
	margin-bottom: 10px;
  box-shadow: 5px 5px 5px #999999;
}

button{
	background-color: crimson;
	color: white;
	box-shadow: 2px 2px 5px #888888;
	border-radius: 6px;
	padding: 7px 17px;
}

button:hover{
  background-color: #b3e6b3;
	color: black;
}
