* {
	margin: 0px;
	padding: 0px;
	font-family: AR CENA;
}

body{
	background-color: whitesmoke;
	font-family: Helvetica, Arial, sans-serif;
}

h1{
	margin: 0;
	font-family: AR Julian;
}

h2{
	font-family: AR Julian;
}

th{
	font-size: 110%;
}

#container{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	clear:both;
}

#header {
	background-color: Crimson;
	color: white;
	text-align: center;
	padding: 10px;
}

#menu{
	background-color: white;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}


.content{
	color: black;
	padding: 10px;
	clear: both;
	margin-top: 5px;
	margin-bottom: 20px;
}

.customBox{
	background-color: silver;
	padding: 20px 20px 0px 20px;
	margin-bottom: 10px;
	color: white;
    box-shadow: 5px 5px 5px #999999;
}

#container2{
	display: table;
	margin: 0 auto;
}

#container2 a{
	margin: 0 2px;
}

footer{
	clear: both;
	padding-left:10px;
	background-color: #333;
	color: white;
	margin-top: 40px;
}
